<!doctype html>
<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <title>Footer</title>
</head>
<body class="d-flex flex-column h-100">
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <hr/>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-3 col-md-2 col-lg-1 text-center no-print">
                <a href="http://www.unipd.it/" target="_blank">
                    <img class="img-fluid" src="./images/logo-UNIPD.png"
                         alt="logo University of Padua">
                </a>
            </div>
            <div class="col-6 col-md-7 col-lg-5 text-center text-muted small">
                Copyright &copy; 2022, University of Padua, Italy
            </div>
            <div class="col-3 col-md-2 col-lg-1 text-center no-print">
                <a href="http://www.dei.unipd.it/" target="_blank">
                    <img class="img-fluid" src="./images/logo-DEI.png"
                         alt="logo Department of Information Engineering">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
